<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/Style/Doctors.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <header>
        <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
        <script src="https://www.negishim.com/accessibility/accessibility_pro.js" type="text/javascript"></script>
    <script type="text/javascript">
        accessibility_rtl = true;
        pixel_from_side = 20;
        pixel_from_start = 20;
    </script>
    
      </header>
      <nav class="navbar navbar-dark bg-white fixed-top">
        <div class="container-fluid">
          <ul class="nav " style="color: white;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="font-size: 24px; color: #0298EC;"
                href="/patient/Index/<%= result.id %> ">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patient/Appointments/<%= result.id %> "
                style="font-size: 18px; margin-top:6px; color: #0298EC;">Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patient/Doctors/<%= result.id %>"
                style="font-size: 18px; margin-top:6px; color: #0298EC;">Doctors/Nurses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patient/Medicine/<%= result.id %>"
                style="font-size: 18px; margin-top:6px; color: #0298EC;">Medicine</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patient/Profile/<%= result.id %>"
                style="font-size: 18px; margin-top:6px; color: #0298EC;">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patient/Guide/<%= result.id %> "
                style="font-size: 18px; margin-top:6px; color: #0298EC;">Guide</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patient/Rate/<%= result.id %> "
                style="font-size: 18px; margin-top:6px; color: #0298EC;">Rate Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patient/Lab/<%= result.id %> "
                style="font-size: 18px; margin-top:6px; color: #0298EC;">Lab Results</a>
            </li>
            <form action="/patient/LogOut" method="POST">
              <li class="nav-item">
                <button class="nav-link"
                  style="margin-top: 5.9px; height: 20px; width: 20px; font-size: 18px;background-color: white;border: none; color: #0298EC;">Logout
                </button>
              </li>
            </form>
          </ul>
          <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
        </div>
      </nav>
  <div class="container marketing">

    <div class="row">
      <h1 style="text-align:center; padding:30px;">Doctors</h1>
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/d1.jpg" alt="">

        <h2 class="fw-normal">Noah Anderson</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>Specializes in: Eyes</p>
        <hr>
        <p>Dr. Noah is a Harvard graduate, he graduated at the age of 27 and immediately started applying for jobs all over the place,the MA saw his student record very impressing and took him in, Noah has helped many people pass through hard times with his techniques and his slight hand and his friendly character, he did many surgeries all of them were successful and he was picked as doctor of the year in MA last year.</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/d2.jpg" alt="">

        <h2 class="fw-normal">Nella Atkinson</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>Specializes in: Bones and Fractures</p>
        <hr>   
        <p>Dr. Nella is a highly experienced bone specialist. She received her medical degree from Harvard University and completed her residency at MA. She is skilled in diagnosing and treating various bone conditions and is known for her compassionate care. In her free time, she enjoys staying active and spending time with her family.</p>
      </div>

      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/d3.jpg" alt="">
        <h2 class="fw-normal">Henry Alister</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>Specializes in: Ear,Nose and Throat (ENT)</p>
        <hr>   
        <p>Dr. Henry is a skilled and respected ear, nose, and throat (ENT) specialist with over 7 years of experience. He received his medical degree from University of Oxford and completed his residency in otolaryngology at MA. He is known for his expertise in diagnosing and treating a wide range of ear, nose, and throat conditions, as well as his compassionate bedside manner.</p>
      </div>

      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/d4.jpg" alt="">
        <h2 class="fw-normal">Allison Marks</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>Specializes in: Cancer</p>
        <hr> 
        <p>Dr. Allison is a highly respected oncologist with over 6 years of experience in cancer treatment and research. She received her medical degree from University of Cambridge and completed her residency in internal medicine at MA. She is known for her expertise in diagnosing and treating a wide range of cancer types and for her compassionate care of her patients.</p>
      </div>

      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/d5.jpg" alt="">

        <h2 class="fw-normal">Aviv Mark</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <p>Specializes in: Psychiatry</p>
        <hr>
        <p>Dr. Aviv is a highly skilled psychiatrist with over 7 years of experience in the field. He received his medical degree from Karolinska Institutet and completed his residency in psychiatry at MA. He is known for his expertise in diagnosing and treating a wide range of mental health conditions, as well as his compassionate and supportive approach to care. In his free time, Dr. Aviv enjoys staying active and spending time with his family.</p>
      </div>



      <div class="row">
        <h1 style="text-align:center; padding:30px;">Nurses</h1>
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/n1.jpg" alt="">

          <h2 class="fw-normal">Emily Banks</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <p>Specializes in: Geriatric nursing (helping elderly)</p>
          <hr>
          <p>Emily is a geriatric nurse who is dedicated to providing top-quality care to older adults. She has specialized training in caring for seniors and is skilled in understanding their unique needs and challenges. Emily works in a variety of settings, including hospitals, nursing homes, and home healthcare agencies, to ensure that seniors receive the best possible care and support. She is compassionate, patient, and dedicated to helping seniors maintain their independence and quality of life.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/n2.jpg" alt="">

          <h2 class="fw-normal">Mia Robinson</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>Specializes in: Women's Health</p>
          <hr>
          <p>Mia is a dedicated Women's Health Nurse with a passion for providing comprehensive and compassionate care to women of all ages. With years of experience in obstetrical and gynecological care, Mia is skilled in managing the unique healthcare needs of women throughout their lifespan. She is committed to empowering her patients to make informed decisions about their healthcare and fostering strong relationships with them</p>
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/n3.jpg" alt="">
          <h2 class="fw-normal">Kenzie Cavel</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>Specializes in: Mental Health</p>
          <hr>
          <p>Kenzie is a mental health nurse who is dedicated to helping individuals with mental health disorders. She has specialized training in caring for patients with conditions such as depression, anxiety, and schizophrenia, and is skilled in providing compassionate, person-centered care. Kenzie works in a variety of settings, including hospitals, clinics, and community mental health centers, to ensure that patients receive the best possible care and support. She is patient, understanding, and committed to helping her patients improve their mental health and overall well-being.</p>
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="130" height="160" src="/images/n4.jpg" alt="">
          <h2 class="fw-normal">Lile Norman</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>Specializes in: hospice and palliative care</p>
          <hr>
          <p>Lile is a hospice and palliative care nurse who is dedicated to providing comfort and support to individuals with terminal illnesses and their families. She has specialized training in caring for patients during the end of life and is skilled in providing person-centered care that focuses on improving quality of life. Lile works in a variety of settings, including hospitals, hospice facilities, and patients' homes, to ensure that patients receive the best possible care and support. </p>
        </div>

        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="150" src="/images/n5.jpg" alt="">

          <h2 class="fw-normal">Amber Anson</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>Specializes in: Family Care</p>
          <hr>
          <p>Amber is a compassionate and dedicated Family Nurse with a strong commitment to providing high-quality care to patients of all ages. With a background in acute care and community health nursing, Amber is skilled in managing the healthcare needs of patients across the lifespan. She is passionate about educating patients and their families about preventive care and empowering them to take an active role in their own healthcare. In her free time, Amber enjoys practicing yoga and spending time with her husband and two young children.</p>
        </div>
      </div>
     </div>
  </div>
</body>